gcp_project_id: "{{ gcp_project_id }}"
client_name: "{{ client_name }}"
envtype: "{{ envtype }}"
region: "{{ region }}"
admin_domain_name: "{{ admin_domain_name }}"
client_domain_name: "{{ client_domain_name }}"
namespace: "{{ namespace }}"
tfstat_bucket_name: "{{ tfstat_bucket_name }}"
mysql_admin_password: {{ mysql_admin_password }}"
mysql_cadence_password: "{{ mysql_cadence_password }}"
pgsql_admin_password: "{{ pgsql_admin_password }}"
secrets_system: "{{ secrets_system }}"
file: "/tmp/{{ filename }}"
