stage: "{{ stage }}"
version: "{{ version }}"
platform: "{{ platform }}"
project_name: "{{ project_name }}"
client_name: "{{ client_name }}"
region: "{{ region }}"
zone: "{{ zone }}"
admin_url: "{{ admin_url }}"
booking_url: {{ booking_url }}"
env_type: "{{ env_type }}"
namespace: "{{ namespace }}"
authfile: "/tmp/{{ authfile }}"
