Stage: "{{ stage }}"
Version: "{{ version }}"
Platform: "{{ platform }}"
Project_name: "{{ project_name }}"
Client_name: "{{ client_name }}"
Region: "{{ region }}"
Zone: "{{ zone }}"
Admin_url: "{{ admin_url }}"
Booking_url: {{ booking_url }}"
Env_type: "{{ env_type }}"
Namespace: "{{ namespace }}"
